<script src="assets/Scripts/Jquery3.2.1.min.js"></script>
<app-menuadmin></app-menuadmin>
<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadrumb>">

        </ol>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h4>เก็บข้อมูลห้อง</h4>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form #form="ngForm" novalidate>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Room number</label>
                            <input type="text" class="form-control" name="Room_number" [(ngModel)]="Room_number" ngModel
                                #i_Room_number="ngModel" required>
                            <div class="text-danger"
                                *ngIf="i_Room_number.errors && (i_Room_number.dirty || i_Room_number.touched)">
                                <div [hidden]="i_Room_number.errors.required" class="alert alert-danger form-alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                        role="img" aria-label="Warning:">
                                        <path
                                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                    Please enter a room number.
                                </div>
                                <!-- <div *ngIf="e_email.errors['required']">Email is
                            required</div> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="exampleInput1">DueDate</label>
                                    <input placeholder="Select Date" class="form-control" ngbDatepicker
                                        #d="ngbDatepicker" (click)="d.toggle()" [(ngModel)]="i_date" name="date" type="date">

                                </div>
                                <div class="col">
                                    <label class="label-control">Due Time </label>
                                    <div class="default-time-example">
                                        <input class="form-control" [(ngModel)]="time" name="time" [ngxTimepicker]="picker">
                                        <ngx-material-timepicker #picker></ngx-material-timepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Status</label>
                            <select class=" form-control ui dropdown" [(ngModel)]="label" name="label">
                                <option value="ว่าง">ว่าง</option>
                                <option value="กำลังถูกใช้งาน">กำลังถูกใช้งาน</option>
                            </select>
                        </div>
                        
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button [disabled]="form.invalid" type="submit" (click)="submit()" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>