<div class="container">
    <div class="row">
        <div *ngFor="let select of Room">
            <div class="col">
                <div class="skill">
                    <div class="outer">
                        <div class="inner">  
                                <div id= "number" style="text-align:center;">
                                    <div>{{select.datetime}}</div>  
                                {{select.Room_number}}
                                <div id="text-1">
                                    {{select.status}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <svg version="1.1" width="500px" height="500px">
                        <defs>
                            <linearGradient id="GradientColor">
                                <stop offset="0%" stop-color="#b7ffb1" />
                                <stop offset="100%" stop-color="#95f2ff" />
                            </linearGradient>
                        </defs>
                        <circle cx="150" cy="150" r="140" stroke-linecap="round" />
                    </svg>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="Room == 0">
        <div align="center">
            <h1 style="color: gray; margin: auto;margin-top: 20%;">ไม่พบข้อมูล</h1>
        </div>
    </div>
</div>