<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Register</h2>
        <form class="login-form" #form="ngForm" novalidate>
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-lowpercase">อีเมล</label>
            <input type="email" class="form-control" placeholder="Room@hotmail.com" [(ngModel)]="i_email" uniqueEmail required 
               name="email" ngModel #e_email="ngModel">
            <div class="text-danger" *ngIf="e_email.invalid && (e_email.dirty || e_email.touched)">
              <div *ngIf="e_email.errors['required']">กรุณากรอกอีเมล</div>
              <div *ngIf="e_email.errors['uniqueEmail']">มีอีเมลนี้แล้ว</div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-lowpercase">ชื่อผู้ใช้</label>
            <input type="text" class="form-control" placeholder="ชื่อผู้ใช้" ngModel [(ngModel)]="i_username" required uniqueUsername
            #e_username="ngModel"  name="username" maxlength="15">
            <div class="text-danger" *ngIf="e_username.invalid && (e_username.dirty || e_username.touched)">
              <div *ngIf="e_username.errors['required']">กรุณากรอกชื่อผู้ใช้</div>
              <div *ngIf="e_username.errors['uniqueUsername']">มีชื่อผู้ใช้นี้แล้ว</div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1" class="text-lowpercase">รหัสผ่าน</label>
            <input type="password" class="form-control" placeholder="************" ngModel [(ngModel)]="i_password"  minlength="5"
              name="password" #password="ngModel" required >
            <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              <div *ngIf="password.errors['required']">กรุณากรอกรหัสผ่าน</div>
              <div *ngIf="password.errors.minlength">รหัสผ่านต้องมีอักขระ 5 ตัวขึ้นไป</div>
              
            </div>
            
          </div>
          <div class="form-check">
            <button [disabled]="form.invalid"  type="submit" class="btn btn-login float-right" (click)="submit()">Sign up</button>
          </div>

        </form>

        <div class="copy-text">มีบัญชีอยู่แล้ว?<a routerLink="/login" > Log in</a></div>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <!-- <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>