<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-git.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>

</head>

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="mb-4 col-sm-8">
                <h3 class="mb-4 ">รายชื่อห้อง <b>ทั้งหมด</b></h3>
            </div>
            <input class="mb-4 search" style="color: rgb(3, 3, 3);" id="tableSearch" type="text"
                placeholder="Type something to search list items">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Room number</th>
                        <th>Status</th>
                        <th>Temperature</th>
                        <th>Motion</th>
                        <th>Luminance</th>
                        <th>People</th>
                        <th>Edit</th>

                    </tr>
                </thead>

                <tbody id="myTable" *ngFor="let item of response">
                    <tr>
                        <td>{{item.Room_number}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.temperature}}</td>
                        <td>{{item.motion}}</td>
                        <td>{{item.luminance}}</td>
                        <td>{{item.people}}</td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                <button class="btn btn-warning btn-xs" data-title="Edit" data-toggle="modal"
                                    data-target="#edit" (click)="edit(item._id)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <i class="far fa-edit"></i>
                                </button>

                            </p>

                        </td>

                        <!-- <td><button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning"></button></td> -->
                    </tr>
                    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                    <h4 class="modal-title custom_align" id="Heading" style="color: white;">Edit Your
                                        Detail</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <span style="color: white;">Room number : </span>
                                        <input class="form-control " type="text" id="Room_number"
                                            [(ngModel)]="Room_number">
                                    </div>
                                    <div class="form-group">
                                        <span style="color: white;">Status : </span><br>
                                        <!-- <input class="form-control " type="text" id="status" [(ngModel)]="status" name="status"> -->
                                        <select class="ui dropdown" [(ngModel)]="status" name="status">
                                            <option value="กำลังอัพเดท">กำลังอัพเดท</option>
                                            <option value="ว่าง">ว่าง</option>
                                            <option value="กำลังถูกใช้งาน">กำลังถูกใช้งาน</option>
                                            <!-- <option value="audi">Audi</option> -->
                                        </select>
                                    </div>

                                </div>
                                <div class="modal-footer ">
                                    <button (click)="update()" type="button" class="btn btn-warning btn-lg"
                                        style="width: 100%;"><span
                                            class="glyphicon glyphicon-ok-sign"></span> Update</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>