<!-- <app-appheader></app-appheader> -->
<app-appmenu></app-appmenu>
<div class="content-wrapper">
    <section class="content-header" align="center">
        <h1><span>รายชื่อ ห้องว่าง</span></h1>
    </section><br>
    <section class="content">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div *ngFor="let select of array">
                        <div class="col">
                            <div class="skill">
                                <div class="outer">
                                    <div class="inner">
                                        <div *ngIf="select.status == 'ว่าง'">
                                            {{select.datetime}}
                                            <div id="number" style="text-align:center;">
                                                {{select.Room_number}}
                                                <div id="text-1">
                                                    {{select.status}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="400px" height="400px">
                                    <defs>
                                        <linearGradient id="GradientColor">
                                            <stop offset="0%" stop-color="#b7ffb1" />
                                            <stop offset="100%" stop-color="#95f2ff" />

                                        </linearGradient>
                                    </defs>
                                    <circle cx="150" cy="150" r="140" stroke-linecap="round" />
                                </svg>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="array.length == 0">
                    <div align="center">
                        <h1 style="color: gray; margin: auto;margin-top: 20%;">ไม่พบข้อมูล</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>